In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#Lectura de CSVs suministrados. Deben estar en la misma carpeta que este script o completar el path 

df_diascalle = pd.read_csv("Dias Calle decimal.csv", sep = ";", 
                          names = ["Clientes", "Date", "Importe_dc", "Importe_comprobante", "DiasCalle"])

df_data_calle_score = pd.read_csv("Data_calle_score.csv", sep = ",", 
                          names = ["Clientes","counts","DiasCalle_max","DiasCalle_min","ImporteMedio_h","DiasCalle_h",
                                   "DiasPago_h","Importe_year","DiasCalle_year","year_dummy_comp","Total_dias","Score_comp",
                                   "DiasCalle","year_dummy_pago","menos_15_y","menos_30_y","menos_45_y","menos_75_y","mas_75_y","Total","Score_pago"])

df_extra = pd.read_csv("extra.csv", sep = ",", 
                          names = ["Clientes","Vendedor","CodigoPostal","CodProvin","cantidadCR","cantidadCtaCte","cantidadOtros","promedioCompraMensual"])

In [3]:
df_diascalle.head(5)
df_diascalle.info()
df_extra.head(5)
df_extra.info()
df_data_calle_score.head(5)
df_data_calle_score.info()

,Clientes,Date,Importe_dc,Importe_comprobante,DiasCalle
0,1771,2014-09-12 00:00:00.000,451.0,80.0,87
1,6998,2014-08-26 00:00:00.000,816.0,816.0,35
2,2196,2014-10-15 00:00:00.000,1825.0,684.0,85
3,1541,2014-08-20 00:00:00.000,950.0,950.0,29
4,713,2014-08-28 00:00:00.000,301.0,301.0,37

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252643 entries, 0 to 252642
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Clientes             252643 non-null  int64
 1   Date                 252643 non-null  object
 2   Importe_dc           252643 non-null  float64
 3   Importe_comprobante  252643 non-null  float64
 4   DiasCalle            252643 non-null  int64
dtypes: float64(2), int64(2), object(1)
memory usage: 9.6+ MB

,Clientes,Vendedor,CodigoPostal,CodProvin,cantidadCR,cantidadCtaCte,cantidadOtros,promedioCompraMensual
0,1,4,51892,X,5,12,12,0.0
1,2,6,57000,D,49,5,5,0.0
2,3,2,16271,X,0,12,12,0.0
3,4,10,5800,X,44,2,2,0.0
4,5,4,5194,X,1,0,0,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2678 entries, 0 to 2677
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Clientes               2678 non-null   int64
 1   Vendedor               2678 non-null   int64
 2   CodigoPostal           2678 non-null   int64
 3   CodProvin              2678 non-null   object
 4   cantidadCR             2678 non-null   int64
 5   cantidadCtaCte         2678 non-null   int64
 6   cantidadOtros          2678 non-null   int64
 7   promedioCompraMensual  2678 non-null   float64
dtypes: float64(1), int64(6), object(1)
memory usage: 167.5+ KB

,Clientes,counts,DiasCalle_max,DiasCalle_min,ImporteMedio_h,DiasCalle_h,DiasPago_h,Importe_year,DiasCalle_year,year_dummy_comp,...,Score_comp,DiasCalle,year_dummy_pago,menos_15_y,menos_30_y,menos_45_y,menos_75_y,mas_75_y,Total,Score_pago
0,1,31,253,2,13570.411765,18.941176,0.0,149565,111,1,...,3,160,1,6,4,0,1,0,11,2
1,2,83,602,3,2920.645833,14.750000,0.0,140191,708,0,...,4,2374,0,72,6,0,0,5,83,3
2,3,16,78,0,1181.100000,16.400000,3.3,11811,164,0,...,5,270,0,9,2,4,0,1,16,4
3,4,41,23,0,1639.241379,1.655172,0.0,47538,48,0,...,1,82,0,40,1,0,0,0,41,1
4,5,1,2,2,982.000000,2.000000,0.0,982,2,0,...,1,2,0,1,0,0,0,0,1,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2439 entries, 0 to 2438
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Clientes         2439 non-null   int64
 1   counts           2439 non-null   int64
 2   DiasCalle_max    2439 non-null   int64
 3   DiasCalle_min    2439 non-null   int64
 4   ImporteMedio_h   2439 non-null   float64
 5   DiasCalle_h      2439 non-null   float64
 6   DiasPago_h       2439 non-null   float64
 7   Importe_year     2439 non-null   int64
 8   DiasCalle_year   2439 non-null   int64
 9   year_dummy_comp  2439 non-null   int64
 10  Total_dias       2439 non-null   int64
 11  Score_comp       2439 non-null   int64
 12  DiasCalle        2439 non-null   int64
 13  year_dummy_pago  2439 non-null   int64
 14  menos_15_y       2439 non-null   int64
 15  menos_30_y       2439 non-null   int64
 16  menos_45_y       2439 non-null   int64
 17  menos_75_y       2439 non-null   int64
 18  mas_75_y         2439 non-null   int64
 19  Total            2439 non-null   int64
 20  Score_pago       2439 non-null   int64
dtypes: float64(3), int64(18)
memory usage: 400.3 KB

In [4]:
#ELiminando aquellos valores negativos. Se puede analizar si se eliminan, se corrigen a cero o si se multipiclan por -1 

len(df_diascalle)
df_diascalle = df_diascalle[df_diascalle["DiasCalle"]>-1]
len(df_diascalle)

len(df_diascalle)
df_diascalle = df_diascalle[df_diascalle["Importe_comprobante"]>-1]
len(df_diascalle)

252643

246079

246079

246077

In [5]:
data = pd.merge(df_diascalle, df_extra, on ="Clientes", how ="left")
data = data[[
    "Clientes", "Date", "Importe_dc", "Importe_comprobante", "DiasCalle", 
    "Vendedor","CodigoPostal","CodProvin","cantidadCR","cantidadCtaCte","cantidadOtros","promedioCompraMensual"
]]

data

,Clientes,Date,Importe_dc,Importe_comprobante,DiasCalle,Vendedor,CodigoPostal,CodProvin,cantidadCR,cantidadCtaCte,cantidadOtros,promedioCompraMensual
0,1771,2014-09-12 00:00:00.000,451.00,80.00,87,10,5800,X,0,23,23,0.0
1,6998,2014-08-26 00:00:00.000,816.00,816.00,35,3,5800,X,1,116,116,1.0
2,2196,2014-10-15 00:00:00.000,1825.00,684.00,85,3,5800,X,2,497,497,0.0
3,1541,2014-08-20 00:00:00.000,950.00,950.00,29,3,5800,X,0,502,502,3.0
4,713,2014-08-28 00:00:00.000,301.00,301.00,37,3,5800,X,3,24,24,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
246072,2198,2022-06-12 00:00:00.000,71856.71,71856.71,6,22,6303,L,0,7,7,0.0
246073,325,2022-07-12 00:00:00.000,6470.00,6470.00,26,3,5800,X,4,651,651,3.0
246074,442,2022-06-29 00:00:00.000,14200.00,14200.00,0,5,5901,X,0,110,110,1.0
246075,390,2022-07-14 00:00:00.000,28100.00,28100.00,15,5,5933,X,3,114,114,0.0
246076,1482,2022-07-29 00:00:00.000,32078.68,32078.68,0,2,5829,X,19,168,168,1.0

In [6]:
df_data_calle_score.head(5)
df_data_calle_score.info()

,Clientes,counts,DiasCalle_max,DiasCalle_min,ImporteMedio_h,DiasCalle_h,DiasPago_h,Importe_year,DiasCalle_year,year_dummy_comp,...,Score_comp,DiasCalle,year_dummy_pago,menos_15_y,menos_30_y,menos_45_y,menos_75_y,mas_75_y,Total,Score_pago
0,1,31,253,2,13570.411765,18.941176,0.0,149565,111,1,...,3,160,1,6,4,0,1,0,11,2
1,2,83,602,3,2920.645833,14.750000,0.0,140191,708,0,...,4,2374,0,72,6,0,0,5,83,3
2,3,16,78,0,1181.100000,16.400000,3.3,11811,164,0,...,5,270,0,9,2,4,0,1,16,4
3,4,41,23,0,1639.241379,1.655172,0.0,47538,48,0,...,1,82,0,40,1,0,0,0,41,1
4,5,1,2,2,982.000000,2.000000,0.0,982,2,0,...,1,2,0,1,0,0,0,0,1,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2439 entries, 0 to 2438
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Clientes         2439 non-null   int64
 1   counts           2439 non-null   int64
 2   DiasCalle_max    2439 non-null   int64
 3   DiasCalle_min    2439 non-null   int64
 4   ImporteMedio_h   2439 non-null   float64
 5   DiasCalle_h      2439 non-null   float64
 6   DiasPago_h       2439 non-null   float64
 7   Importe_year     2439 non-null   int64
 8   DiasCalle_year   2439 non-null   int64
 9   year_dummy_comp  2439 non-null   int64
 10  Total_dias       2439 non-null   int64
 11  Score_comp       2439 non-null   int64
 12  DiasCalle        2439 non-null   int64
 13  year_dummy_pago  2439 non-null   int64
 14  menos_15_y       2439 non-null   int64
 15  menos_30_y       2439 non-null   int64
 16  menos_45_y       2439 non-null   int64
 17  menos_75_y       2439 non-null   int64
 18  mas_75_y         2439 non-null   int64
 19  Total            2439 non-null   int64
 20  Score_pago       2439 non-null   int64
dtypes: float64(3), int64(18)
memory usage: 400.3 KB

In [7]:
df_data_calle_score = df_data_calle_score.drop(columns = ["DiasPago_h","Score_comp","DiasCalle","year_dummy_pago",
                                     "menos_15_y","menos_30_y","menos_45_y","menos_75_y","mas_75_y",
                                     "Total","year_dummy_comp"])
df_data_calle_score.head(5)

,Clientes,counts,DiasCalle_max,DiasCalle_min,ImporteMedio_h,DiasCalle_h,Importe_year,DiasCalle_year,Total_dias,Score_pago
0,1,31,253,2,13570.411765,18.941176,149565,111,7,2
1,2,83,602,3,2920.645833,14.750000,140191,708,48,3
2,3,16,78,0,1181.100000,16.400000,11811,164,10,4
3,4,41,23,0,1639.241379,1.655172,47538,48,29,1
4,5,1,2,2,982.000000,2.000000,982,2,1,1

In [8]:
data = pd.merge(data, df_data_calle_score, on ="Clientes", how ="left")
data = data[[
    "Clientes", "Date", "Importe_dc", "Importe_comprobante", "DiasCalle", 
    "Vendedor","CodigoPostal","CodProvin","cantidadCR","cantidadCtaCte","cantidadOtros","promedioCompraMensual",
    "counts","DiasCalle_max","DiasCalle_min","ImporteMedio_h","DiasCalle_h","Importe_year",
    "DiasCalle_year","Total_dias", "Score_pago"
    
]]

data

,Clientes,Date,Importe_dc,Importe_comprobante,DiasCalle,Vendedor,CodigoPostal,CodProvin,cantidadCR,cantidadCtaCte,...,promedioCompraMensual,counts,DiasCalle_max,DiasCalle_min,ImporteMedio_h,DiasCalle_h,Importe_year,DiasCalle_year,Total_dias,Score_pago
0,1771,2014-09-12 00:00:00.000,451.00,80.00,87,10,5800,X,0,23,...,0.0,25.0,87.0,0.0,953.875000,39.875000,15262.0,638.0,16.0,5.0
1,6998,2014-08-26 00:00:00.000,816.00,816.00,35,3,5800,X,1,116,...,1.0,189.0,48.0,0.0,6365.361446,32.831325,290005.0,754.0,24.0,3.0
2,2196,2014-10-15 00:00:00.000,1825.00,684.00,85,3,5800,X,2,497,...,0.0,811.0,167.0,0.0,16685.553459,65.654088,739495.0,1116.0,22.0,5.0
3,1541,2014-08-20 00:00:00.000,950.00,950.00,29,3,5800,X,0,502,...,3.0,784.0,55.0,0.0,54755.317829,26.937984,2936422.0,861.0,29.0,3.0
4,713,2014-08-28 00:00:00.000,301.00,301.00,37,3,5800,X,3,24,...,0.0,42.0,82.0,0.0,3881.933333,54.133333,58229.0,812.0,15.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246072,2198,2022-06-12 00:00:00.000,71856.71,71856.71,6,22,6303,L,0,7,...,0.0,14.0,28.0,6.0,235705.166667,11.666667,1414231.0,70.0,6.0,2.0
246073,325,2022-07-12 00:00:00.000,6470.00,6470.00,26,3,5800,X,4,651,...,3.0,1082.0,62.0,0.0,13375.364130,33.407609,1869813.0,1980.0,73.0,3.0
246074,442,2022-06-29 00:00:00.000,14200.00,14200.00,0,5,5901,X,0,110,...,1.0,370.0,411.0,0.0,25056.600000,39.893333,950408.0,741.0,16.0,5.0
246075,390,2022-07-14 00:00:00.000,28100.00,28100.00,15,5,5933,X,3,114,...,0.0,312.0,130.0,0.0,21801.534653,40.663366,1054804.0,1016.0,21.0,5.0
246076,1482,2022-07-29 00:00:00.000,32078.68,32078.68,0,2,5829,X,19,168,...,1.0,245.0,84.0,0.0,13487.275510,24.979592,769983.0,186.0,28.0,3.0

In [9]:
data['Date'] = pd.to_datetime(data['Date'])
data['Date']

data['Date'].dt.year
data['Date'].dt.month

data['year'] = data['Date'].dt.year
data['month'] = data['Date'].dt.month

0        2014-09-12
1        2014-08-26
2        2014-10-15
3        2014-08-20
4        2014-08-28
            ...
246072   2022-06-12
246073   2022-07-12
246074   2022-06-29
246075   2022-07-14
246076   2022-07-29
Name: Date, Length: 246077, dtype: datetime64[ns]

0         2014
1         2014
2         2014
3         2014
4         2014
          ...
246072    2022
246073    2022
246074    2022
246075    2022
246076    2022
Name: Date, Length: 246077, dtype: int64

0          9
1          8
2         10
3          8
4          8
          ..
246072     6
246073     7
246074     6
246075     7
246076     7
Name: Date, Length: 246077, dtype: int64

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246077 entries, 0 to 246076
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Clientes               246077 non-null  int64
 1   Date                   246077 non-null  datetime64[ns]
 2   Importe_dc             246077 non-null  float64
 3   Importe_comprobante    246077 non-null  float64
 4   DiasCalle              246077 non-null  int64
 5   Vendedor               246077 non-null  int64
 6   CodigoPostal           246077 non-null  int64
 7   CodProvin              246077 non-null  object
 8   cantidadCR             246077 non-null  int64
 9   cantidadCtaCte         246077 non-null  int64
 10  cantidadOtros          246077 non-null  int64
 11  promedioCompraMensual  246077 non-null  float64
 12  counts                 246011 non-null  float64
 13  DiasCalle_max          246011 non-null  float64
 14  DiasCalle_min          246011 non-null  float64
 15  ImporteMedio_h         246011 non-null  float64
 16  DiasCalle_h            246011 non-null  float64
 17  Importe_year           246011 non-null  float64
 18  DiasCalle_year         246011 non-null  float64
 19  Total_dias             246011 non-null  float64
 20  Score_pago             246011 non-null  float64
 21  year                   246077 non-null  int64
 22  month                  246077 non-null  int64
dtypes: datetime64[ns](1), float64(12), int64(9), object(1)
memory usage: 45.1+ MB

In [11]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('fivethirtyeight')

# Modelado
# ==============================================================================
from sklearn.neural_network import MLPRegressor
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_selector
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import KFold
from sklearn import set_config
import multiprocessing


# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

In [49]:
datos = data.iloc[:500].copy()
datos["Clientes"] = datos["Clientes"].astype("str") 
datos["Date"] = datos["Date"].astype("str") 
datos["Vendedor"] = datos["Vendedor"].astype("str") 
datos["CodigoPostal"] = datos["CodigoPostal"].astype("str") 
datos["CodProvin"] = datos["CodProvin"].astype("str") 
datos["Score_pago"] = datos["Score_pago"].astype("str")
datos["year"] = datos["year"].astype("str") 
datos["month"] = datos["month"].astype("str") 
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Clientes               500 non-null    object
 1   Date                   500 non-null    object
 2   Importe_dc             500 non-null    float64
 3   Importe_comprobante    500 non-null    float64
 4   DiasCalle              500 non-null    int64
 5   Vendedor               500 non-null    object
 6   CodigoPostal           500 non-null    object
 7   CodProvin              500 non-null    object
 8   cantidadCR             500 non-null    int64
 9   cantidadCtaCte         500 non-null    int64
 10  cantidadOtros          500 non-null    int64
 11  promedioCompraMensual  500 non-null    float64
 12  counts                 500 non-null    float64
 13  DiasCalle_max          500 non-null    float64
 14  DiasCalle_min          500 non-null    float64
 15  ImporteMedio_h         500 non-null    float64
 16  DiasCalle_h            500 non-null    float64
 17  Importe_year           500 non-null    float64
 18  DiasCalle_year         500 non-null    float64
 19  Total_dias             500 non-null    float64
 20  Score_pago             500 non-null    object
 21  year                   500 non-null    object
 22  month                  500 non-null    object
dtypes: float64(11), int64(4), object(8)
memory usage: 93.8+ KB

In [50]:
datos = datos.drop(columns = ["Date"])
datos.info()
datos.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Clientes               500 non-null    object
 1   Importe_dc             500 non-null    float64
 2   Importe_comprobante    500 non-null    float64
 3   DiasCalle              500 non-null    int64
 4   Vendedor               500 non-null    object
 5   CodigoPostal           500 non-null    object
 6   CodProvin              500 non-null    object
 7   cantidadCR             500 non-null    int64
 8   cantidadCtaCte         500 non-null    int64
 9   cantidadOtros          500 non-null    int64
 10  promedioCompraMensual  500 non-null    float64
 11  counts                 500 non-null    float64
 12  DiasCalle_max          500 non-null    float64
 13  DiasCalle_min          500 non-null    float64
 14  ImporteMedio_h         500 non-null    float64
 15  DiasCalle_h            500 non-null    float64
 16  Importe_year           500 non-null    float64
 17  DiasCalle_year         500 non-null    float64
 18  Total_dias             500 non-null    float64
 19  Score_pago             500 non-null    object
 20  year                   500 non-null    object
 21  month                  500 non-null    object
dtypes: float64(11), int64(4), object(7)
memory usage: 89.8+ KB

,Clientes,Importe_dc,Importe_comprobante,DiasCalle,Vendedor,CodigoPostal,CodProvin,cantidadCR,cantidadCtaCte,cantidadOtros,...,DiasCalle_max,DiasCalle_min,ImporteMedio_h,DiasCalle_h,Importe_year,DiasCalle_year,Total_dias,Score_pago,year,month
0,1771,451.0,80.0,87,10,5800,X,0,23,23,...,87.0,0.0,953.875000,39.875000,15262.0,638.0,16.0,5.0,2014,9
1,6998,816.0,816.0,35,3,5800,X,1,116,116,...,48.0,0.0,6365.361446,32.831325,290005.0,754.0,24.0,3.0,2014,8
2,2196,1825.0,684.0,85,3,5800,X,2,497,497,...,167.0,0.0,16685.553459,65.654088,739495.0,1116.0,22.0,5.0,2014,10
3,1541,950.0,950.0,29,3,5800,X,0,502,502,...,55.0,0.0,54755.317829,26.937984,2936422.0,861.0,29.0,3.0,2014,8
4,713,301.0,301.0,37,3,5800,X,3,24,24,...,82.0,0.0,3881.933333,54.133333,58229.0,812.0,15.0,5.0,2014,8

In [51]:
# Variables cualitativas (tipo object)
# ==============================================================================
datos.select_dtypes(include=['object']).describe()

       Clientes Vendedor CodigoPostal CodProvin Score_pago  year month
count       500      500          500       500        500   500   500
unique      246       14           92         5          5     2     7
top         168        3         5800         X        5.0  2014     9
freq         37      118          121       393        215   497   294

In [52]:
# Reparto de datos en train y test
# ==============================================================================
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
                                        datos.drop('DiasCalle', axis = 'columns'),
                                        datos['DiasCalle'],
                                        train_size   = 0.8,
                                        random_state = 1234,
                                        shuffle      = True
                                    )

In [53]:
# Analizando paritición
# ==============================================================================
print("Partición de entrenamento")
print("-----------------------")
display(y_train.describe())
display(X_train.describe())
display(X_train.describe(include = 'object'))
print(" ")

print("Partición de test")
print("-----------------------")
display(y_test.describe())
display(X_test.describe())
display(X_test.describe(include = 'object'))

Partición de entrenamento
-----------------------

count    400.000000
mean      38.827500
std       31.497269
min        0.000000
25%       28.000000
50%       36.500000
75%       47.000000
max      468.000000
Name: DiasCalle, dtype: float64

,Importe_dc,Importe_comprobante,cantidadCR,cantidadCtaCte,cantidadOtros,promedioCompraMensual,counts,DiasCalle_max,DiasCalle_min,ImporteMedio_h,DiasCalle_h,Importe_year,DiasCalle_year,Total_dias
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000,4.000000e+02,400.000000,400.000000
mean,5487.275000,1250.585000,34.645000,238.040000,238.040000,1.98000,435.792500,166.482500,2.425000,16456.711373,36.111200,8.151329e+05,753.965000,25.467500
std,10399.688286,1339.294277,114.460022,351.412129,351.412129,3.75097,551.255072,199.740294,8.900135,17454.755557,19.008381,1.090099e+06,810.055698,24.591274
min,32.000000,11.000000,0.000000,0.000000,0.000000,0.00000,2.000000,0.000000,0.000000,254.454545,0.000000,2.448000e+03,0.000000,1.000000
25%,746.500000,401.750000,1.000000,34.000000,34.000000,0.00000,102.750000,91.000000,0.000000,4455.800000,30.575893,9.288550e+04,311.000000,12.000000
50%,1859.000000,823.000000,2.000000,121.500000,121.500000,1.00000,270.000000,130.000000,0.000000,12148.417167,36.048780,3.690105e+05,548.000000,19.000000
75%,4539.000000,1665.500000,8.000000,289.750000,289.750000,3.00000,509.000000,175.000000,1.000000,21830.331546,41.472150,1.103579e+06,864.250000,30.000000
max,55806.000000,10270.000000,712.000000,2270.000000,2270.000000,25.00000,3589.000000,3238.000000,89.000000,175844.493506,177.000000,7.454844e+06,7391.000000,127.000000

       Clientes Vendedor CodigoPostal CodProvin Score_pago  year month
count       400      400          400       400        400   400   400
unique      225       14           88         5          5     2     7
top         168        3         5800         X        5.0  2014     9
freq         28       94          100       312        170   397   232

Partición de test
-----------------------

count    100.000000
mean      38.870000
std       19.887895
min        0.000000
25%       29.000000
50%       38.000000
75%       48.000000
max       93.000000
Name: DiasCalle, dtype: float64

,Importe_dc,Importe_comprobante,cantidadCR,cantidadCtaCte,cantidadOtros,promedioCompraMensual,counts,DiasCalle_max,DiasCalle_min,ImporteMedio_h,DiasCalle_h,Importe_year,DiasCalle_year,Total_dias
count,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000e+02,100.000000,100.000000
mean,6130.680000,1034.93000,26.530000,262.710000,262.710000,2.030000,441.670000,188.760000,2.750000,16503.612092,36.845025,8.377673e+05,745.330000,25.750000
std,11334.256405,1142.07398,84.731597,358.221034,358.221034,3.520374,517.780326,328.138925,10.735926,14159.614967,20.254292,1.118335e+06,768.272062,22.045121
min,37.000000,37.00000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,490.222222,0.000000,1.357000e+03,0.000000,1.000000
25%,717.250000,271.75000,1.000000,58.000000,58.000000,0.000000,136.000000,87.000000,0.000000,6837.692807,31.622325,2.034898e+05,289.000000,12.000000
50%,2203.000000,670.50000,2.000000,144.000000,144.000000,1.000000,328.500000,131.000000,0.000000,11055.677618,36.048780,4.541255e+05,548.000000,19.500000
75%,4888.750000,1286.50000,7.000000,312.250000,312.250000,3.000000,508.250000,192.000000,1.000000,23614.083705,42.175922,1.088657e+06,862.000000,34.000000
max,40687.000000,6373.00000,712.000000,2270.000000,2270.000000,25.000000,3589.000000,3238.000000,93.000000,61426.210526,177.000000,7.454844e+06,5090.000000,125.000000

       Clientes Vendedor CodigoPostal CodProvin Score_pago  year month
count       100      100          100       100        100   100   100
unique       73       12           39         4          5     1     5
top         168        3         5800         X        5.0  2014     9
freq          9       24           21        81         45   100    62

In [54]:
numeric_cols = X_train.select_dtypes(include=['float64', 'int']).columns.to_list()
cat_cols = X_train.select_dtypes(include=['object', 'category']).columns.to_list()

numeric_transformer = Pipeline(
                        steps=[('scaler', StandardScaler())]
                      )
categorical_transformer = Pipeline(
                            steps=[('onehot', OneHotEncoder(handle_unknown='ignore'))]
                          )
preprocessor = ColumnTransformer(
                    transformers=[
                        ('numeric', numeric_transformer, numeric_cols),
                        ('cat', categorical_transformer, cat_cols)
                    ],
                    remainder='passthrough'
                )
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('numeric',
                                 Pipeline(steps=[('scaler', StandardScaler())]),
                                 ['Importe_dc', 'Importe_comprobante',
                                  'cantidadCR', 'cantidadCtaCte',
                                  'cantidadOtros', 'promedioCompraMensual',
                                  'counts', 'DiasCalle_max', 'DiasCalle_min',
                                  'ImporteMedio_h', 'DiasCalle_h',
                                  'Importe_year', 'DiasCalle_year',
                                  'Total_dias']),
                                ('cat',
                                 Pipeline(steps=[('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 ['Clientes', 'Vendedor', 'CodigoPostal',
                                  'CodProvin', 'Score_pago', 'year',
                                  'month'])])

In [55]:
# Selección de las variables por típo
# ==============================================================================
# Se estandarizan las columnas numéricas y se hace one-hot-encoding de las 
# columnas cualitativas. Para mantener las columnas a las que no se les aplica 
# ninguna transformación se tiene que indicar remainder='passthrough'.

# Identificación de columnas numéricas y categóricas
numeric_cols = X_train.select_dtypes(include=['float64', 'int']).columns.to_list()
cat_cols = X_train.select_dtypes(include=['object', 'category']).columns.to_list()


# Transformaciones para las variables numéricas
numeric_transformer = Pipeline(
                        steps=[('scaler', StandardScaler())]
                      )

# Transformaciones para las variables categóricas
categorical_transformer = Pipeline(
                            steps=[('onehot', OneHotEncoder(handle_unknown='ignore'))]
                          )

preprocessor = ColumnTransformer(
                    transformers=[
                        ('numeric', numeric_transformer, numeric_cols),
                        ('cat', categorical_transformer, cat_cols)
                    ],
                    remainder='passthrough'
                )

In [56]:
set_config(display='diagram')
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('numeric',
                                 Pipeline(steps=[('scaler', StandardScaler())]),
                                 ['Importe_dc', 'Importe_comprobante',
                                  'cantidadCR', 'cantidadCtaCte',
                                  'cantidadOtros', 'promedioCompraMensual',
                                  'counts', 'DiasCalle_max', 'DiasCalle_min',
                                  'ImporteMedio_h', 'DiasCalle_h',
                                  'Importe_year', 'DiasCalle_year',
                                  'Total_dias']),
                                ('cat',
                                 Pipeline(steps=[('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 ['Clientes', 'Vendedor', 'CodigoPostal',
                                  'CodProvin', 'Score_pago', 'year',
                                  'month'])])

In [57]:
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('numeric',
                                 Pipeline(steps=[('scaler', StandardScaler())]),
                                 ['Importe_dc', 'Importe_comprobante',
                                  'cantidadCR', 'cantidadCtaCte',
                                  'cantidadOtros', 'promedioCompraMensual',
                                  'counts', 'DiasCalle_max', 'DiasCalle_min',
                                  'ImporteMedio_h', 'DiasCalle_h',
                                  'Importe_year', 'DiasCalle_year',
                                  'Total_dias']),
                                ('cat',
                                 Pipeline(steps=[('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 ['Clientes', 'Vendedor', 'CodigoPostal',
                                  'CodProvin', 'Score_pago', 'year',
                                  'month'])])

In [58]:
set_config(display='text')

In [59]:
# Se aprenden y aplican las transformaciones de preprocesado
# ==============================================================================
X_train_prep = preprocessor.fit_transform(X_train)
X_test_prep  = preprocessor.transform(X_test)

In [60]:
# Convertir el output en dataframe y añadir el nombre de las columnas
# ==============================================================================
encoded_cat = preprocessor.named_transformers_['cat']['onehot']\
              .get_feature_names(cat_cols)
labels = np.concatenate([numeric_cols, encoded_cat])
datos_train_prep = preprocessor.transform(X_train)
datos_train_prep = pd.DataFrame.sparse.from_spmatrix(datos_train_prep)
datos_train_prep.columns = labels.tolist()
datos_train_prep.info()
datos_train_prep

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Columns: 360 entries, Importe_dc to month_9
dtypes: Sparse[float64, 0](360)
memory usage: 98.6 KB

,Importe_dc,Importe_comprobante,cantidadCR,cantidadCtaCte,cantidadOtros,promedioCompraMensual,counts,DiasCalle_max,DiasCalle_min,ImporteMedio_h,...,Score_pago_5.0,year_2014,year_2015,month_1,month_10,month_11,month_12,month_7,month_8,month_9
0,-0.438954,-0.872135,-0.294314,-0.299283,-0.299283,-0.261593,-0.361070,-0.328249,-0.272809,-0.456881,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,-0.464179,-0.594029,-0.303061,-0.635491,-0.635491,-0.528525,-0.751577,0.849752,-0.272809,-0.806593,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-0.484878,-0.875126,-0.303061,-0.612697,-0.612697,-0.528525,-0.746128,-0.398428,-0.272809,-0.889285,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,-0.069539,0.119926,-0.276818,-0.319227,-0.319227,-0.261593,-0.341090,-0.172853,-0.272809,0.649401,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,-0.082921,0.205899,-0.303061,-0.615547,-0.615547,-0.528525,-0.611721,-0.428504,-0.272809,-0.400294,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,-0.290976,-0.682993,0.248039,0.205030,0.205030,0.272270,0.683311,-0.122725,-0.272809,1.980196,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
396,-0.238409,-0.684489,-0.294314,-0.017209,-0.017209,-0.261593,0.132968,0.042696,-0.272809,1.233311,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
397,-0.395533,-0.080430,-0.294314,0.128101,0.128101,0.005339,-0.095888,-0.488657,-0.272809,0.211485,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
398,-0.156477,-0.510298,-0.294314,-0.017209,-0.017209,-0.261593,0.132968,0.042696,-0.272809,1.233311,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
399,-0.314853,-0.218736,-0.224333,-0.584205,-0.584205,-0.528525,-0.515456,0.007607,-0.272809,-0.364179,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [61]:
# Pipeline de preprocedado y modelado
# ==============================================================================

# Identificación de columnas numéricas y categóricas
numeric_cols = X_train.select_dtypes(include=['float64', 'int']).columns.to_list()
cat_cols = X_train.select_dtypes(include=['object', 'category']).columns.to_list()


# Transformaciones para las variables numéricas
numeric_transformer = Pipeline(
                        steps=[('scaler', StandardScaler())]
                      )

# Transformaciones para las variables categóricas
categorical_transformer = Pipeline(
                            steps=[('onehot', OneHotEncoder(handle_unknown='ignore'))]
                          )

preprocessor = ColumnTransformer(
                    transformers=[
                        ('numeric', numeric_transformer, numeric_cols),
                        ('cat', categorical_transformer, cat_cols)
                    ],
                    remainder='passthrough'
                )

# Se combinan los pasos de preprocesado y el modelo en un mismo pipeline
pipe = Pipeline([('preprocessing', preprocessor),
                 ('modelo', MLPRegressor(solver = 'lbfgs', max_iter= 1000))])

In [62]:
# Espacio de búsqueda de cada hiperparámetro
# ==============================================================================
param_distributions = {
    'modelo__hidden_layer_sizes': [(10), (20), (10, 10)],
    'modelo__alpha': np.logspace(-3, 3, 10),
    'modelo__learning_rate_init': [0.001, 0.01],
}

# Búsqueda por validación cruzada
# ==============================================================================
grid = RandomizedSearchCV(
        estimator  = pipe,
        param_distributions = param_distributions,
        n_iter     = 50,
        scoring    = 'neg_mean_squared_error',
        n_jobs     = multiprocessing.cpu_count() - 1,
        cv         = 5, 
        verbose    = 0,
        random_state = 123,
        return_train_score = True
       )

grid.fit(X = X_train, y = y_train)

# Resultados del grid
# ==============================================================================
resultados = pd.DataFrame(grid.cv_results_)
resultados.filter(regex = '(param.*|mean_t|std_t)')\
    .drop(columns = 'params')\
    .sort_values('mean_test_score', ascending = False)\
    .head(10)

RandomizedSearchCV(cv=5,
                   estimator=Pipeline(steps=[('preprocessing',
                                              ColumnTransformer(remainder='passthrough',
                                                                transformers=[('numeric',
                                                                               Pipeline(steps=[('scaler',
                                                                                                StandardScaler())]),
                                                                               ['Importe_dc',
                                                                                'Importe_comprobante',
                                                                                'cantidadCR',
                                                                                'cantidadCtaCte',
                                                                                'cantidadOtros',
                                                                                'promedioCompraMensual',
                                                                                'counts',
                                                                                'DiasCalle_max',
                                                                                'DiasCalle_min',
                                                                                'ImporteMedio_h',
                                                                                'DiasC...
                   param_distributions={'modelo__alpha': array([1.00000000e-03, 4.64158883e-03, 2.15443469e-02, 1.00000000e-01,
       4.64158883e-01, 2.15443469e+00, 1.00000000e+01, 4.64158883e+01,
       2.15443469e+02, 1.00000000e+03]),
                                        'modelo__hidden_layer_sizes': [10, 20,
                                                                       (10,
                                                                        10)],
                                        'modelo__learning_rate_init': [0.001,
                                                                       0.01]},
                   random_state=123, return_train_score=True,
                   scoring='neg_mean_squared_error')

,param_modelo__learning_rate_init,param_modelo__hidden_layer_sizes,param_modelo__alpha,mean_test_score,std_test_score,mean_train_score,std_train_score
46,0.01,10,215.443469,-534.606686,637.641090,-89.221363,6.646984
27,0.001,20,215.443469,-558.687953,632.673006,-87.194200,8.818014
31,0.001,10,215.443469,-567.646565,628.648023,-93.355459,16.737058
23,0.01,20,215.443469,-568.390021,627.449073,-87.237329,8.039626
40,0.01,"(10, 10)",1000.0,-580.391138,643.957522,-71.783310,3.736095
36,0.001,"(10, 10)",1000.0,-584.613498,625.913698,-73.213823,5.275994
32,0.01,10,0.004642,-599.092391,630.713370,-19.738909,5.001541
19,0.001,20,0.004642,-605.234017,668.369800,-15.680933,2.450312
1,0.01,20,10.0,-622.850312,584.189216,-14.903449,2.237855
25,0.01,10,0.001,-623.365951,632.553795,-17.650346,3.033754

In [63]:
# Error de test
# ==============================================================================
modelo_final = grid.best_estimator_
predicciones = modelo_final.predict(X = X_test)
rmse = mean_squared_error(
        y_true = y_test,
        y_pred = predicciones,
        squared = False
       )
print('Error de test (rmse): ', rmse)

Error de test (rmse):  12.775765165649284

In [65]:
import pickle
pickle.dump(modelo_final, open('modelo_final.pkl', 'wb'))

In [66]:
pickled_model = pickle.load(open('modelo_final.pkl', 'rb'))

In [73]:
prueba = X_train.iloc[:2]
prueba

,Clientes,Importe_dc,Importe_comprobante,Vendedor,CodigoPostal,CodProvin,cantidadCR,cantidadCtaCte,cantidadOtros,promedioCompraMensual,...,DiasCalle_max,DiasCalle_min,ImporteMedio_h,DiasCalle_h,Importe_year,DiasCalle_year,Total_dias,Score_pago,year,month
296,886,928.0,84.0,3,5800,X,1,133,133,1.0,...,101.0,0.0,8491.934579,27.168224,441097.0,304.0,19.0,2.0,2014,9
220,104,666.0,456.0,10,5800,X,0,15,15,0.0,...,336.0,0.0,2395.444444,32.666667,21559.0,294.0,9.0,5.0,2014,11

In [74]:
pickled_model.predict(prueba)

array([ 33.75392981, 106.73781968])

In [64]:
modelo_final['modelo'].get_params()

{'activation': 'relu',
 'alpha': 215.44346900318823,
 'batch_size': 'auto',
 'beta_1': 0.9,
 'beta_2': 0.999,
 'early_stopping': False,
 'epsilon': 1e-08,
 'hidden_layer_sizes': 10,
 'learning_rate': 'constant',
 'learning_rate_init': 0.01,
 'max_fun': 15000,
 'max_iter': 1000,
 'momentum': 0.9,
 'n_iter_no_change': 10,
 'nesterovs_momentum': True,
 'power_t': 0.5,
 'random_state': None,
 'shuffle': True,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': False,
 'warm_start': False}

In [ ]:
data_pago = clientes[["Clientes", "year_dummy_comp", "Score_pago", "DiasCalle_h", "Predicción", 
                     "menos_15_y","menos_30_y","menos_45_y","menos_75_y","mas_75_y","Total"]]

for c in [ "menos_15_y","menos_30_y","menos_45_y","menos_75_y","mas_75_y"]:
    data_pago[c] = data_pago[c]/data_pago["Total"]


data_pago.to_csv("data_calle_pred.csv",index=False)
data_pago